/* .page {
  max-width: 1920px;
  background-color: #1B1A1F;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
}

.header {
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container-big {
  display: flex;
  max-width: 1330px;
  flex-wrap: wrap;
  gap: 52px;
}

.logo-container-small {
  display: flex;
  max-width: 1330px;
  flex-wrap: wrap;
  gap: 6px;
}

.logo-big {
  max-height: 144px;
}

.logo-small {
  max-height: 18px;
}

.subtitle {
  margin-top: 60px;
  max-width: 1058px;
  padding-bottom: 60px;
}

.header__menu-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  width: 425px;
  height: 75px;
  padding: 20px 38px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(7.5px);
  margin: 0 auto 94px;
}

.header__menu-container-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header__menu-container-list-item {
}
*/

body {
  /* margin: 0; */
 /* padding: 0;
  font-family: Arial, sans-serif; */
  /* color: #fff; */
}

html {
  scroll-behavior: smooth;
}

.page-index {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #222025;
  /* padding: 0 4px; */
}

.page-about {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: white;
  /* padding: 0 4px; */
}

.page-projects {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  /* background-color: white; */
  background: linear-gradient(to bottom, white 60%, #222025 60%);
}

.header {
  max-width: 1920px;
  height: 100vh;
  /* margin: 264px auto 0; */
  /* margin: 20vh auto 0; */
  margin: 224px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

                  .logo-iwa__container {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                    width: 120px;
                  }

                  .link-lang-section {
                    max-width: 1920px;
                    margin: 40px 20px 0 auto;
                    /* display: flex; */
                  }

                  .link-lang-container {
                    max-width: 1700px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    margin: 0 100px 40px 0;
                  }

                  .link-lang-container2 {
                    display: flex;
                    justify-content: start;
                  }

.logo-container-big {
  display: flex;
  max-width: 1445px;
  flex-wrap: nowrap;
  gap: 52px;
  /* height: 155px; */
}

.logo-container-small {
  z-index: 2;
  display: flex;
  /* max-width: 1330px; */
  /* flex-wrap: wrap; */
  /* gap: 6px; */
  /* margin: 0 auto 40px; */
  margin: 0 auto -12px;
  justify-content: center;
  /* align-items: center; */
}

.logo-container-black {
  display: flex;
  max-width: 1330px;
  flex-wrap: wrap;
  gap: 6px;
  /* margin: 88px auto 40px; */
  justify-content: start;
  align-items: start;
  /* margin-bottom: 234px; */
  margin-bottom: 100px;
}

.logo-big {
  max-height: 155px;
}

.logo-small {
  width: 297px;
  max-height: 30px;
}

.subtitle {
  /* margin-top: 60px; */
  /* margin: 60px auto 240px; */
  /* margin: 8vh auto 10vh; */
  margin: 60px auto 110px;

  /* max-width: 1445px; */
  width: 100%;
  justify-content: start;
}

.subtitle__main-title {
  max-width: 1000px;
  margin: 0 auto;
}

.subtitle__contacts {
  max-width: 1445px;
}

.header__menu-container-index {
  /* position: -webkit-sticky;
  position: sticky;
  top: 20px; */
  z-index: 10;
  display: flex;
  width: 629px;
  height: 84px;
  padding: 25px 0px 25px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(7.5px);
  /* margin: 0 auto 94px; */
  margin: 0 auto 90px;
}

.header__menu-container-about {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 10;
  display: flex;
  width: 629px;
  height: 84px;
  padding: 25px 0px 25px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(7.5px);
  margin: 0 auto 94px;
}

.nav-burger {
  display: none;
}

.header__menu-container-sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 92vh; */
  top: 92%;
  z-index: 10;
  display: flex;
  width: 629px;
  height: 84px;
  padding: 25px 0px 25px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(7.5px);
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* .header__menu-container-sticky {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  width: 629px;
  height: 84px;
  padding: 25px 0px 25px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(7.5px);
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
} */

.header__menu-container-sticky.visible {
  opacity: 1;
}

.header__menu-container-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
}

.button__menu {
  display: flex;
  flex-direction: row;
  width: 237px;
  height: 59px;
  /* margin-left: 16px; */
  /* padding: 20px 38px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 1px #F3F959 solid; */
  /* border-radius: 100px; */
  /* fill: #F3F959; */
  /* backdrop-filter: blur(7.5px); */
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  border-radius: 100px;
  /* border: 1px solid #F3F959; */
  background: #EBFD36;
  backdrop-filter: blur(7.5px);
}

.button__menu-icon {
  margin-left: 10px;
}

.button__menu:hover {
  cursor: pointer;
  transition: 0.2s;
  color: black;
  fill: black;
  background: #EEFF90;
}

.button__menu:focus {
  background-color: #B1C637;
}

.button__menu:active {
  background-color: #B1C637;
}

.header__menu-container-list-item {
  /* display: flex;
  flex-wrap: nowrap; */
}

.header__menu-container-list-item a {
  /* text-decoration: none;
  color: #fff;
  font-size: 18px; */
}

.svg__arrow-down {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.svg__arrow-down-img {
  display: flex;
  justify-content: center;
  stroke: white;
  fill: none;
  animation: moveUpDown 2.8s ease-in-out infinite;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.svg__arrow-down-img:hover {
  stroke: black;
  fill: #EBFD36;
  transition: 0.2s;
}

.svg__arrow-down-img:active {
  fill: #B1C637;
  transition: 0.2s;
}

.svg__arrow-down-img:focus {
  fill: #B1C637;
  transition: 0.2s;
}

.svg__arrow-down-black-img {
  display: flex;
  justify-content: center;
  stroke: black;
  fill: none;
  animation: moveUpDown 2.8s ease-in-out infinite;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.svg__arrow-down-black-img:hover {
  stroke: black;
  fill: #EBFD36;
  transition: 0.2s;
}

.svg__arrow-down-black-img:active {
  fill: #B1C637;
  transition: 0.2s;
}

.svg__arrow-down-black-img:focus {
  fill: #B1C637;
  transition: 0.2s;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.container-burger {
  display: none;
  z-index: 1;
  padding-bottom: 40px;
}

.sections__container {
  display: flex;
  flex-direction: column; /* Изменено с row на column */
  /* margin: 0 auto 270px; */
  /* margin: 0 auto 182px; */
  /* margin: 0 auto 100px; */
  margin: 0 auto;
  max-width: 1445px;
  /* margin: 30px 0 162px; */
}

.sections__gap {
  display: flex;
  flex-direction: column;
  gap: 296px;
  margin-bottom: 210px;
}

.sections__projects {
  display: flex;
  flex-direction: row;
  /* margin: 70vh auto 0; */
  margin: 90px auto 0;
  width: 100%;
  padding: 20px 40px;
  border: 1px solid #EBFD36;
  border-radius: 100px;
  justify-content: center;
}

.sections__projects:hover {
  background-color: #EBFD36;
}

.sections__projects:active {
  border: 1px solid #B1C637;
  background-color: #B1C637;
}

.sections__projects:focus {
  border: 1px solid #B1C637;
  background-color: #B1C637;
}

.svg__arrow-projects {
  /* width: 16px;
  height: 16px; */
  margin-left: 40px;
  align-self: center;
  fill: white;
  transition: 0.2s ease;
}

.sections__container-projects {
  position: relative;
  height: 500vh; /* Для демонстрации прокрутки */
}

.button__about {
  display: flex;
  flex-direction: row;
  gap: 19px;
  width: 170px;
  height: 47px;
  padding: 15.932px 30.271px;
  justify-content: center;
  align-items: center;
  border-radius: 79.661px;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(5.974576473236084px);
}

.cd-section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 49px 38px 0 72px;
  height: 100vh;
  justify-content: space-between;
}


.cd-section-container-name {
  max-width: 170px;
}

.cd-section-container-about-item {
  display: inline-flex;
}


.padding-side {
  padding: 0 6px;
}
/* Код растягивающейся стрелки */

/* .arrow-container {
  position: absolute;
  display: inline-block;
} */

/* .arrow-icon {
  bottom: -15px;
  width: 110px;
  height: 110px;
  margin-left: 50px;
  padding-right: 32px;
  border-radius: 50%;
  border: 2px solid #EBFD36;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: width 0.5s ease, border-radius 0.5s ease;
  cursor: pointer;
  position: relative;
}

.arrow {
  display: inline-block;
  border: solid #EBFD36;
  border-width: 0 2px 2px 0;
  padding: 10px;
  transform: rotate(-45deg);
  transition: padding 0.5s ease, border-color 0.5s ease;
}

.arrow-tail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background-color: #EBFD36;
  transition: background-color 0.5s ease, width 0.5s ease;
}

.arrow-icon:hover {
  width: 623px;
  border-radius: 223px;
  background-color: #EBFD36;
  padding-right: 122px;
}

.arrow-icon:hover .arrow {
  border-color: black;
  border-width: 0 2px 2px 0;
}

.arrow-icon:hover .arrow-tail {
  width: 380px;
  background-color: black;
} */

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  /* height: 1114px; */
  /* margin: 0 auto; */
  /* margin: 120px auto 0; */
  margin: 0 auto 0;

  padding-bottom: 96px;
}

.footer__background-yellow {
  background: #EBFD36;
}

.footer__background-black {
  background-color: #222025;
}

.footer__container {
  display: flex;
  max-width: 1446px;
  width: 100%;
  margin: 133px auto 250px;
  justify-content: space-between;
}

.footer__text-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* margin-top: -11px; */
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  gap: 30px;
}

.footer__text-container-mobile {
  display: none;
  flex-direction: column;
  /* margin-top: -11px; */
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  gap: 30px;
}

.footer__feedback {
  max-width: 1446px;
  width: 100%;
  margin: 0 auto;
  /* text-align: start; */
}

.footer__feedback-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.footer__feedback-item svg {
  display: none;
}

.footer__feedback-line {
  margin: 60px 0 70px;
  border-top: 2px solid black;
}

.footer__feedback-line-white {
  margin: 60px 0 70px;
  border-top: 2px solid white;
}

.footer__feedback-item img {
  width: 72px;
  height: 72px;
  align-self: center;
}

.footer-copyright {
  display: flex;
  /* margin: 180px auto 50px; */
  justify-content: space-between;
}


/* .button__order {
  display: flex;
  width: 278px;
  height: 75px;
  margin-top: 30px;
  padding: 20px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #DCF166;
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7.5px);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.button__order:hover {
  cursor: pointer;
  transition: 0.2s;
  background: #EEFF90;
}

.button__order:focus {
  background-color: #B1C637;
}

.button__order:active {
  background-color: #B1C637;
} */

/* .footer-copyright {
  display: flex;
  justify-content: center;
} */






/* Стили страницы "О Нас" */

.about__section-subtitle {
  position: relative;
  /* max-width: 1200px; */
  /* max-width: 1200px; */
  text-align: left;
}

.sections__companies {
  display: flex;
  width: 1445px;
  /* margin: 0 auto; */
  margin-bottom: 250px;
  justify-content: space-between;
}

.sections__companies img {
  max-width: 240px;
  max-height: 88px;
  margin: auto 0;
}

.img-ozon {
  height: 55px;
}

.img-beregi {
  height: 55px;
}

.section__container-team {
  display: flex;
  /* flex-direction: column; */
  width: 1445px;
  /* margin-left: 38px;
  margin-right: 38px; */
  margin: 0 auto;
  justify-content: space-between;
  /* gap: 100px; */
  gap: calc(6.25rem + ((1vw - 19.2px) * 9.0909));
}

.section__container-team-block {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
}

.section__container-team-item {
  width: 440px;
  height: 560px;
  border-radius: 30px;
  background: #ACB0B9;
}

.section__container-team-item-img {
  width: 100%;
  border-radius: 30px;
}

.section__container-dev {
  width: 100%;
 /* margin-top: 220px; */
   /* margin-left: 238px; */
  /* margin: 220px auto 0; */
  justify-content: space-between;
  display: flex;
  flex-direction: column; /* Изменено с row на column */
  /* margin: 0 auto 100px; */
  margin: 0 auto;
  max-width: 1444px;
  /* padding-top: 250px; */
}

.section__doublecolor {
  background: linear-gradient(to bottom, white 40%, #222025 40%);
}

.background-black {
  z-index: -1;
  padding-top: 250px;
  background-color: #222025;
  margin: 0 auto;
  /* background-color: black; */
}

.background-black-2 {
  z-index: -1;
  /* padding-top: 250px; */
  background-color: #222025;
  margin: 0 auto;
}

.test2 {

}

.section__container-dev-margin-bottom {
  margin-bottom: 37px;
}

/* Аккордеон для видов работ */

.accordion-container {
  display: flex;
  justify-content: space-between;
  gap: 186px; /* Расстояние между столбцами */
  max-width: 1400px; /* Ширина */
  table-layout: fixed;
}

.accordion-column {
  flex: 1;
  max-width: 546px; /* Ширина колонок */
}

.accordion-list {
  display: flex;
  align-items: center;
}

.tab {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9eaec;
  margin-bottom: 10px; /* Расстояние между аккордеонами */
}

.tab-title {
  display: block;
  cursor: pointer;
}

.tab-title::after {
  content: '+';
  /* content: '˅'; */
  float: right;
  padding-right: 20px;
}

.tab-content {
  max-height: 0; /* Высота скрытого контента */
  overflow: hidden; /* Обрезаем содержимое */
  transition: max-height 0.2s ease; /* Плавный переход */
}

input[type="checkbox"]:checked + .tab-title {
  /* background-color: #50a2de; */
  /* color: #fff; */
  /* color: #EBFD36; */
  /* text-decoration: underline; */
}

input[type="checkbox"]:checked + .tab-title::after {
  content: '−';
  /* content: '˄'; */
}

input[type="checkbox"]:checked ~ .tab-content {
  max-height: 500px; /* Максимальная высота для раскрытого контента */
  transition: max-height 0.6s ease; /* Плавный переход */
}

/* .section__container-dev-gallery {
  display: flex;
  width: 1444px;
  margin-top: 300px;
  gap: 100px;
  overflow: hidden;
}

.section__container-dev-gallery img {
  border-radius: 30px;
} */

.section__container-dev-gallery-test {
  display: flex;
  /* max-width: 1444px; */
  width: 100%;
  /* margin: 0 auto; */
  padding-top: 250px;
  /* background-color: black; */
  background-color: #222025;
}

.section__container-dev-gallery-test img {
  /* max-width: 1920px; */
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
}

/* Секция Этапы Работы */

.sections__steps-mini {
  display: none;
}

.sections__steps {
  /* display: flex;
  width: 1445px;
  margin: 0 auto;
  justify-content: space-between; */
  /* margin-top: 300px; */
}

.sections__steps-up {
  display: flex;
  justify-content: space-between;
}

/* .sections__steps-up p {
  width: 837px;
} */

.sections__steps-container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 120px; */
  /* align-items: center; */
}

.sections__steps-container-item {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  gap: 50px;
}

.sections__steps-container-item-text {
  display: flex;
  margin-bottom: 50px;
  /* text-align: start; */
}

.sections__steps-container-item-title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* .sections__steps-container-arrow {
  display: inline-block;
  position: relative;
  height: 1px;
  background-color: white;
  width: 70px;
  margin: 0 15px;
}

.sections__steps-container-arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%) rotate(-45deg);
  width: 11px;
  height: 11px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
} */

.blurred-background {
  position: relative;
  width: 1444px;
  height: 818px;
  margin: 250px auto 270px;
  overflow: hidden;
  border-radius: 30px;
}

.blurred-background .background {
  z-index: 0; /* Размытый фон находится ниже текста */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/projects/preview-integralwb.png);
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(35%); /* Применяем размытие только к фону */
  /* filter: ; */
}

.background {
  width: 100%;
}

.blurred-background .content {
  position: relative; /* Нужен независимый слой для текста */
  z-index: 1; /* Устанавливаем текст поверх фона */
  text-align: center; /* Центрирование текста */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sections__margin-bottom {
  display: none;
}





/* .sections__about-extrafooter {
  z-index: -1000000000;
  height: 500px;
  background-color: #EBFD36;
} */

/* Страница Контакты */

.sections__contacts-up {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 0 auto 250px;
  justify-content: space-between;
  max-width: 1445px;
  border-radius: 20px;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.sections__contacts {
  display: flex;
  /* flex-direction: row; */
  margin: 0 auto 100px;
  justify-content: space-between;
  max-width: 1445px;
  gap: 120px;
}

.sections__contacts-gap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section__contacts-img {
  /* width: 900px; */
  filter: grayscale(50);
}

/* Страница Проекта */

.sections__page-projects-container {
  max-width: 1445px;
  margin: 166px auto 0;
}

.sections__page-projects {
  display: flex;
  flex-direction: column; /* Вертикальная структура */
  gap: 24px; /* Расстояние между строками */
  max-width: 1445px; /* Ограничение ширины контейнера */
  margin: 100px auto; /* Центровка по горизонтали */
  padding: 0 15px; /* Внутренние отступы */
}

.sections__page-projects img {
  width: 100%; /* Картинка занимает всю ширину родителя */
  max-height: auto; /* Сохраняет пропорции */
  border-radius: 20px; /* Скругленные углы */
  object-fit: cover; /* Подгон изображения */
}

.sections__page-projects-double {
  display: flex; /* Горизонтальная структура для картинок 2 и 3 */
  gap: 13px; /* Отступ между картинками */
}

.sections__page-projects-double img {
  width: calc(50% - 6.5px); /* Вычитаем половину gap, чтобы элементы не вылезали */
  height: auto; /* Автоматическая высота для пропорциональности */
  border-radius: 20px; /* Скругленные углы */
  object-fit: cover; /* Умное обрезание изображения */
}

/* Стили для модального окна */

.modal {
  display: none;
  position: fixed;
  z-index: 1000000000000000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 14px;
}

.modal-content {
  z-index: 10000000000000000000;
  border-radius: 20px;
  background: #FFF;
  margin: 2% auto;
  padding: 10px 10px 50px;
  /* width: 90%; */
  max-width: 1680px;
  /* height: 90vh; */
  max-height: 1260px;
  position: relative; /* Добавлено для позиционирования крестика */
}

.modal-content-exit-circle {
  position: absolute; /* Абсолютное позиционирование внутри модального окна */
  top: 40px;
  right: 40px;
  /* display: flex; */
  /* width: 69px;
  height: 69px;
  padding: 24.643px; */
  /* align-items: center;
  justify-content: center; */
  /* border-radius: 34.5px; */
  /* background: #B7B7B7; */
}

.modal-content-exit-close {
  width: 40px;
  height: 40px;
  stroke: black;
  -webkit-transition: 0.3s ease; /* Safari and Chrome */
  -moz-transition: 0.3s ease; /* Firefox 4 */
  -o-transition: 0.3s ease; /* Opera */
}

.modal-content-exit-close:hover {
  stroke: #DEF347;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.modal-content-exit-close:focus {
  stroke: #B1C637;
  transition: 0.3s;
}

.modal-content-exit-close:active {
  stroke: #B1C637;
  transition: 0.3s;
}

.modal-content-container {
  display: flex;
  margin-top: 104px;
  justify-content: center;
}

.modal-content-container-form-section-custom {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
}

.modal-content-container-form-section-custon-line {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  justify-content: space-between;
}

.modal-content-container-form-section-custom-item {
  /* flex: 1 1 auto;  */
  max-width: 300px; /* Минимальная ширина элемента */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 2000px; */
}

.custom-checkbox-label {
  display: block;
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
  padding: 10px 44px;
  border-radius: 100px;
  border: 1px solid #222025;
  cursor: pointer;
  text-align: center; /* Центрирует текст внутри метки */
  transition: background-color 0.3s, color 0.3s;
}

.custom-checkbox-label-contacts {
  border: 1px solid gray;
}

/* Стилизация выбранного состояния */
.hidden-checkbox:checked + .custom-checkbox-label {
  background-color: #B1C637;
  border: 1px solid #B1C637;
  color: black;
}

/* Наведение мышью */
.custom-checkbox-label:hover {
  background-color: #DEF347;
}

.modal-content-container-form {
  display: flex;
  flex-direction: column;
  max-width: 722px;
  padding-right: 108px;
  gap: 25px;
  z-index: 1000000000000000;
  border-right: 1px #676767 solid;
}

.modal-content-container-form-contacts {
  display: flex;
  flex-direction: column;
  max-width: 722px;
  /* padding-right: 108px; */
  gap: 25px;
}

.modal-content-container-form-section {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.modal-content-container-form-item {
  display: flex;
  flex-direction: row;
  height: 42px;
  margin-top: 25px;
  /* align-items: center; */
  /* align-self: left; */
  gap: 10px; /* Промежуток между меткой и полем ввода */
  border-bottom: 1px solid #676767;
  padding-bottom: 10px; /* Добавьте внутренний отступ снизу для визуального разделения */
}

/* .modal-content-container-form-item label {
  /flex: 1;
  /max-width: 200px;
} */

.modal-content-container-form-item input {
  /* flex: 2; */
  width: 100%;
}

/* .error-message {
  z-index: 10000;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
} */

/* Стили для контейнера ошибки */

/* Стили для контейнера ошибки */

.error-message {
  display: none; /* Скрываем текст ошибки по умолчанию */
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button__consult {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  padding: 20px 39px;
  background: #DEF347;
  border-radius: 100px;
  justify-content: center;
  /* align-items: center; */
  /* align-self: stretch; */
  -webkit-transition: 0.3s ease; /* Safari and Chrome */
  -moz-transition: 0.3s ease; /* Firefox 4 */
  -o-transition: 0.3s ease; /* Opera */
}

.button__consult:hover {
  background: #EEFF90;
  transition: 0.3s;
}

.button__consult:active {
  /* border: 1px solid #B1C637; */
  background: #B1C637;
  transition: 0.3s;
}

.modal-content-container-form-agree-gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content-container-form-mini {
  position: relative;
  display: flex;
  align-items: center; /* Выравнивание элементов по центру по вертикали */
}

.modal-content-container-contacts {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 50px;
  /* max-width: 444px; */
  max-width: 600px;
  /* margin-right: 200px; */
  padding-left: 108px;
  /* border-left: 1px #676767 solid; */
  /* text-align: left; */
}

.modal-content-container-contacts-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .modal-content-container-contacts-message {
  display: flex;
  margin: 30px 0 40px;
  gap: 36px;
} */

.modal-content-container-contacts-socials {
  display: flex;
  gap: 20px;
}

.modal-content-container-contacts-socials-icon {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  /* fill: red; */
  /* stroke: black; */
}

.modal-content-container-contacts-socials-icon:hover {
  fill: darkgray;
  transition: 0.2s;
}

.modal-content-container-contacts-socials-icon:active {
  fill: lightgray;
  transition: 0.2s;
}

.modal-content-container-contacts-socials-icon:focus {
  fill: lightgray;
  transition: 0.2s;
}


/* Стили чек-бокса */

.modal-content-form-item-confirm {
  /* display: flex;
  text-align: left; */
  /* max-width: 394px; */
  width: 100%;
  max-width: 580px;
}

.checkbox-size {
  /* width: 30px;
  height: 30px;
  background-color: red; */
  margin-right: 16px;
}

#confirm {
  /* margin-right: 20px; */
  appearance: none; /* Убираем стандартное оформление чекбокса */
  width: 30px;
  height: 30px;
  border: 1px solid #676767; /* Черная рамка */
  border-radius: 5px;
  z-index: 500000000000000; /* z-index 50000 */
  position: relative; /* Позиционирование для применения z-index */
  transition: 0.2s;
}

#confirm:checked {
  background-color: #23B020; /* Черный цвет заливки при установленном чекбоксе */
}

#confirm:checked::after {
  content: ''; /* Псевдоэлемент для галочки */
  display: block;
  width: 14px;
  height: 24px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  bottom: 6px;
  left: 8px;
}

.modal-content-success {
  display: none; /* Скрываем сообщение об успешной отправке по умолчанию */
  max-width: 646px;
  padding-right: 108px;
  /* gap: 25px; */
}

.modal-content-succes-text {
  /* display: flex;
  flex-direction: column; */
  /* margin: 0 auto; */
  /* padding: 0 auto; */
  text-align: left;
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-items: center; */
  /* justify-self: center; */
  align-self: center;
  /* align-content: center; */
  /* background: red; */
}

.modal-content-success h3 {
  margin-bottom: 25px;
  /* margin: 0 0 10px; */
}

.modal-content-success p {
  /* margin: 0; */
}


/* Ошибка валидации полей */

.error-message {
  position: absolute;
  background-color: #ffffff;
  color: #b20000;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: none;
  align-items: center;
  white-space: nowrap;
  z-index: 10;
  transform: translateX(-50%);
}

.error-message::before {
  content: "!";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #b20000;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.error-message.visible {
  display: flex;
}

.error-border {
  border-color: #b20000;
}

.modal-content-container-form-item {
  position: relative;
}

.error-message {
  bottom: -45px;
  left: 50%;
}



/* Страница о проектах - брендинг Интеграл-Аналитикс */

.sections__projects-integralbrand-img {
  display: flex;
  /* width: 100%; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  background-color: #222025;
}

.sections__projects-integralbrand-img img {
  width: 100%; /* Изображение растягивается на всю ширину контейнера */
  height: auto; /* Сохраняются пропорции изображения */
  display: block; /* Убирает возможные пробелы под изображением */
}

.sections__projects-integralbrand-container {
  /* display: flex;
  width: 1444px; */
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  gap: 150px;
}

.sections__projects-integralbrand-container-2 {
  /* display: flex;
  width: 1444px; */
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  gap: 150px;
}

.sections__projects-integralbrand-container-title {
  display: flex;
  width: 100%;
  max-width: 1444px;
  gap: 226px;
}

.sections__projects-integralbrand-container-title > div {
  flex: 1; /* Одинаковая ширина для каждого блока */
}

.sections__projects-integralbrand-container-about {
  display: flex;
  flex-direction: column;
}

.sections__projects-integralbrand-container-about-title {
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.sections__projects-integralbrand-container-about-list {
  display: flex;
  gap: 83px;
}

.sections__projects-integralbrand-container-about-list > div {
  max-width: 164px;
}





/* Внешний контейнер */
.sections__projects-integralbrand-scheme {
  display: flex;
  justify-content: center;
  background-color: #222025;
  width: 100%;
  padding: 208px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

/* Контейнер сетки */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 колонки */
  grid-template-rows: repeat(10, 56px); /* 10 строк */
  gap: 20px;
  max-width: 1444px;
  width: calc(100% - 40px);
  margin: 0 auto;
  box-sizing: border-box;
}

/* Элементы сетки */
.item {
  /* background-color: blue; */
  border-radius: 20px;
  position: relative; /* Для правильного позиционирования картинки */
  overflow: hidden; /* Чтобы картинка не выходила за пределы секции */
}

.item img {
  width: 100%; /* Ширина изображения 100% от родительского контейнера */
  height: 100%; /* Высота изображения 100% от родительского контейнера */
  object-fit: cover; /* Изображение будет покрывать контейнер, сохраняя пропорции */
}

/* Верхний ряд */
.left-top {
  grid-row: span 3; /* Первая секция: с 1 по 3 строки */
}

.center-top {
  grid-row: span 5; /* Вторая секция: с 1 по 5 строки */
  grid-column: span 2; /* Занимает 2 столбца (первый и второй) */
}

.right-top {
  grid-row: span 7; /* Третья секция: с 1 по 3 строки */
}

/* Нижний ряд */
.left-bottom {
  grid-row: span 7; /* Левая нижняя секция: с 4 по 10 строки */
}

.center-bottom {
  grid-row: span 5; /* Центральная нижняя секция: с 6 по 10 строки */
  grid-column: span 1; /* Занимает 1 столбец */
}

.right-bottom {
  grid-row: span 3; /* Правая нижняя секция: с 7 по 10 строки */
  grid-column: span 1; /* Занимает 1 столбец */
}


.sections__projects-integralbrand-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222025;
  width: 100%;
  padding: 208px 6px;
  gap: 15px;
  text-align: center; /* Центрирует содержимое по горизонтали */
}

.sections__projects-integralbrand-example-img-first {
  width: 100%; /* Устанавливает ширину изображения в процентах от родительского контейнера */
  max-width: 1444px; /* Ограничивает максимальную ширину изображения */
  margin: 0 auto; /* Центрирует изображение */
  border-radius: 35px;
  height: auto; /* Сохраняет пропорции изображения */
}

.sections__projects-integralbrand-example-img-first:last-child {
  background-color: lightgray;
}

.sections__project-integralbrand-contacts {
  background-color: #222025;
  padding: 0 6px;
}

.sections__project-integralbrand-contacts-container {
  display: flex;
  margin: 0 auto;
  max-width: 1444px;
  gap: 300px;
  justify-content: flex-end;
}

.sections__project-integralbrand-contacts-container-block {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 344px;
}
